# Sensitive project files
songs.json
playlists.json
*.mp3

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller build files
dist/
build/
*.spec

# Virtual environment
venv/
.env/
env/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Other temporary files
*.log
*.bak
*.tmp
